##
## THIS FILE IS UNDER PUPPET CONTROL. DON'T EDIT IT HERE.
## USE: git clone git+ssh://$USER@puppet.debian.org/srv/puppet.debian.org/git/dsa-puppet.git
##
#  For Bacula release 5.0.1 (24 February 2010) -- debian 5.0.4

########################################################################
# Storage config                                                       #
########################################################################

Storage {
  Name = "<%= @storage_name %>"
  Address = <%= @storage_address %>
  SDPort = <%= @port_sd %>
  Password = "<%= @storage_secret %>"
  Device = "<%= @storage_device_name %>"
  Media Type = "<%= @storage_media_type_name %>"
  Maximum Concurrent Jobs = 10

  TLS Enable = yes
  TLS Require = yes
  <%= scope['bacula::bacula_tls_ca_certificate_file'] %>
  <%= scope['bacula::bacula_tls_client_certificate'] %>
  <%= scope['bacula::bacula_tls_client_key'] %>
}

########################################################################
# Pool definition                                                      #
########################################################################
Pool {
  Name = "poolfull-<%=@pool_name %>"
  Pool Type = Backup
  Storage = "<%= @storage_name %>"
  AutoPrune = yes
  Volume Retention = <%= @volume_retention_full %>
  Label Format = "<%= @pool_name %>-full.${Year}-${Month:p/2/0/r}-${Day:p/2/0/r}_${Hour:p/2/0/r}:${Minute:p/2/0/r}"
  Volume Use Duration = 23h
  Maximum Volume Jobs = 1
  Maximum Volume Bytes = 500G
  Action On Purge = Truncate
  Recycle = yes
  RecyclePool = "poolgraveyard-<%= @pool_name %>"
}

Pool {
  Name = "pooldiff-<%= @pool_name %>"
  Pool Type = Backup
  Storage = "<%= @storage_name %>"
  AutoPrune = yes
  Volume Retention = <%= @volume_retention_diff %>
  Label Format = "<%= @pool_name %>-diff.${Year}-${Month:p/2/0/r}-${Day:p/2/0/r}_${Hour:p/2/0/r}:${Minute:p/2/0/r}"
  Volume Use Duration = 23h
  Maximum Volume Jobs = 1
  Maximum Volume Bytes = 500G
  Action On Purge = Truncate
  Recycle = yes
  RecyclePool = "poolgraveyard-<%= @pool_name %>"
}

Pool {
  Name = "poolinc-<%= @pool_name %>"
  Pool Type = Backup
  Storage = "<%= @storage_name %>"
  AutoPrune = yes
  Volume Retention = <%= @volume_retention_inc %>
  Label Format = "<%= @pool_name %>-inc.${Year}-${Month:p/2/0/r}-${Day:p/2/0/r}_${Hour:p/2/0/r}:${Minute:p/2/0/r}"
  Volume Use Duration = 23h
  Maximum Volume Jobs = 1
  Maximum Volume Bytes = 500G
  Action On Purge = Truncate
  Recycle = yes
  RecyclePool = "poolgraveyard-<%= @pool_name %>"
}

Pool {
  Name = "poolgraveyard-<%=@pool_name %>"
  Pool Type = Backup
  Storage = "<%= @storage_name %>"
  Recycle = yes
  RecyclePool = "poolgraveyard-<%= @pool_name %>"
}
