##
## THIS FILE IS UNDER PUPPET CONTROL. DON'T EDIT IT HERE.
## USE: git clone git+ssh://$USER@puppet.debian.org/srv/puppet.debian.org/git/dsa-puppet.git
##

<VirtualHost *:80>
	ServerAdmin debian-admin@debian.org
	ServerName default

	ErrorLog /var/log/apache2/error.log
	CustomLog /var/log/apache2/access.log privacy

	DocumentRoot /srv/www/default.debian.org/htdocs
	<Directory /srv/www/default.debian.org/htdocs>
		Require all granted
	</Directory>

	HostnameLookups Off
	UseCanonicalName Off
	ServerSignature On

	<IfModule mod_userdir.c>
		UserDir disabled
	</IfModule>
</VirtualHost>
# vim:set syn=apache:
