##
## THIS FILE IS UNDER PUPPET CONTROL. DON'T EDIT IT HERE.
## USE: git clone git+ssh://$USER@puppet.debian.org/srv/puppet.debian.org/git/dsa-puppet.git
##

<VirtualHost <%= @vhost_listen %>  >
   ServerAdmin debian-admin@debian.org
   DocumentRoot /srv/mirrors/debian-archive
   ServerName rsync.archive.debian.org

   ExpiresActive On
   ExpiresDefault "access plus 2 minutes"

   # make ftpsync-cron happy, it looks for a trace file named after the rsync
   # host name
   Alias /debian-archive/project/trace/rsync.archive.debian.org /srv/mirrors/debian-archive/project/trace/<%= @fqdn %>

   Alias /debian-archive /srv/mirrors/debian-archive
   <Directory /srv/mirrors/debian-archive/project/trace>
      Require all granted
   </Directory>

   CustomLog /var/log/apache2/rsync.archive.debian.org-access.log combined
   ServerSignature On
</VirtualHost>

# vim:set syn=apache:
